## To fix the permission issues, run these commands on the host machine
# Create the directories if missing
#sudo mkdir -p ./data/cache
#sudo mkdir -p ./data/logs

# Give them the same UID:GID as the Squid user inside the container
#sudo chown -R 13:13 ./data/cache ./data/logs

services:
  squid:
    image: ubuntu/squid
    container_name: squid
    restart: always
    user: "0:0"
    ports:
      - "3128:3128"
    volumes:
      - ./conf/squid.conf:/etc/squid/squid.conf
      - ./conf/strict_whitelisted_domains.list:/etc/squid/strict_whitelisted_domains.list
      - ./conf/ms365_oidc_domains.list:/etc/squid/ms365_oidc_domains.list
      - ./conf/ms365_allowed_ips.list:/etc/squid/ms365_allowed_ips.list
      - ./data/cache:/var/spool/squid
      - ./data/logs:/var/log/squid
    entrypoint: /bin/sh -c "/usr/sbin/squid -N -u root"


